@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root {
  --height: 3rem;
  --semi-bold: 600;
  --color1: rgb(142, 68, 211);
  --color2: hsl(224, 56%, 12%);

  --font-family: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --font-size: 0.938rem;
  --small-font-size: 0.75rem;

  --margin-1: 1rem;
  --margin-2: 2rem;
  --margin-3: 2.5rem;
  --margin-4: 3rem;

  --z-back: -10;
  --z-fixed: 100;
}
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--height) 0 0 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--color2);
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--color1);
  margin-top: var(--margin-1);
  margin-bottom: var(--margin-2);
  text-align: center;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--color1);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.grid-elements {
  max-width: 1024px;
  display: grid;
  margin-left: var(--margin-1);
  margin-right: var(--margin-1);
}

.nav-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

.nav {
  height: var(--height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--semi-bold);
}

.nav__list {
  margin-bottom: var(--margin-2);
}
.nav__link {
  position: relative;
  color: #fff;
}
.nav__link:hover {
  position: relative;
}
.nav__link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--color1);
}
.nav__logo {
  color: var(--color2);
}
.nav-toggle {
  color: var(--color2);
  font-size: 1.5rem;
  cursor: pointer;
}

.active-link::after {
  position: absolute;
  content: "";

  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--color1);
}

.show {
  right: 0;
  width: 200px;
}

.home {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
}
.home_section {
  align-self: center;
}
.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--margin-3);
}
.profile_name {
  color: var(--color1);
}
.social_links {
  display: flex;
  flex-direction: column;
}
.social_links-icon {
  width: max-content;
  margin-bottom: var(--margin-1);
  font-size: 1.5rem;
  color: var(--color2);
}
.social_links-icon:hover {
  color: var(--color1);
}
.profile_img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 260px;
}
.about__container {
  row-gap: 2rem;
  text-align: center;
}
.about__subtitle {
  margin-bottom: var(--margin-1);
}
.about__img {
  justify-self: center;
}
.about__img img {
  width: 200px;
  border-radius: 0.5rem;
}
.Bio__text {
  padding-top: 30px;
  line-height: 2;
}
.background__details {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  padding: 1rem;
  overflow-y: auto;
  max-height: 300px;
  scrollbar-width: thin;
}
.background__details:hover {
  box-shadow: 0px 4px 40px rgba(14, 36, 49, 0.3);
}
.background__details::-webkit-scrollbar {
  width: 2px;
  background-color: #f8f4f4;
}

.background__details::-webkit-scrollbar-thumb {
  background-color: #a99f9f;
  border-radius: 10px;
}
.background__details ul {
  line-height: 1.5;
}

.background__details ul li {
  margin-bottom: 0.8rem;
}
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  border: none;
  width: 15px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.scroll-to-top.show {
  opacity: 1;
}
@media (max-width: 768px) {
  .scroll-to-top {
    bottom: 10px;
    right: 10px;
  }
}

@media (max-width: 768px) {
  .nav__menu {
    display: none;
  }
}

.footer {
  background-color: var(--color2);
  color: #fff;
  text-align: center;
  font-weight: var(--semi-bold);
  padding: 2rem 0;
}
.footer__title {
  font-size: 2rem;
  margin-bottom: var(--margin-2);
}
.footer__social {
  margin-bottom: var(--margin-2);
}
.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--margin-1);
}
.footer__copy {
  font-size: var(--small-font-size);
}
@media screen and (max-width: 320px) {
  .home {
    row-gap: 2rem;
  }
  .profile_img {
    width: 200px;
  }
}
@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
  }
  .social_links {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .social_links-icon {
    margin-bottom: 0;
    margin-right: var(--margin-2);
  }
  .profile_img {
    width: 300px;
    bottom: 25%;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  .Bio__container {
    grid-template-columns: 0.7fr;
    justify-content: center;
    column-gap: 1rem;
  }
  .background__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }
}
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--margin-4);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  .nav {
    height: calc(var(--height) + 1.5rem);
  }
  .nav__ulist {
    display: flex;
    padding-top: 0;
  }
  .nav__list {
    margin-left: var(--margin-4);
    margin-bottom: 0;
  }
  .nav__link {
    color: var(--color2);
  }
  .home {
    padding: 8rem 0 2rem;
  }
  .profile_img {
    width: 400px;
    bottom: 10%;
  }
  .about__container {
    padding-top: 2rem;
  }
  .about__img img {
    width: 300px;
  }
  .Bio__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }
  .background__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .grid-elements {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 10rem 0 2rem;
  }
  .profile_img {
    width: 450px;
  }
}
